<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MicrosoftSQLServer" connectionString="Data Source=localhost, 1433; Database=sql; User ID=sa; Password=password; TrustServerCertificate=true;"/>
		<add name="MariaDB" connectionString="Server=localhost; Port=3306; Database=mysql; User ID=root; Password=password; "/>
		<add name="OracleDatabase" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE))); User Id=C##ORAUSER; Password=ORAUSER;"/>
		<add name="PostgreSQL" connectionString="Host=localhost; Port=5432; Database=postgres; User ID=postgres; Password=postgres; Pooling=true; Connection Lifetime=0;"/>
	</connectionStrings>
</configuration>